*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

body {
  height: 100vh;
	width: 100%;
  background: #0f2027; 
  background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

h1 {
  margin: 30px 0 50px; 
  font-size: 50px;
}

.form_label {
  font-size: 1.2rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(-7rem);
}

.form_input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 20px 0 20px;
  padding: 1rem 0.7rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form_input:placeholder-shown + .form_label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(0rem);
  transform: translateX(0rem);
}
